/* Following the BEM naming convention */
body {
  background: #eee;
  font-family: 'Raleway', sans-serif;
}

.main {
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

.main__header--h1 {
  color: #444;
  text-align: center;
}

.book__list {
  padding: 0;
}

.book__list--item {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #880e4f;
}

.book__details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: rgb(63, 103, 166);
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}

.form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
}

.form__field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.form__label {
  text-align: right;
  padding: 6px;
}

.form__input,
.form__select {
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

.form__button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
